body{
    font-family: 'Rubik', sans-serif;
}

h5{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    color:#395BFF;
    
}

#toparea{
    background-image: url('img/banner001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:20% 0%;
    
}
#toparea .top_left h1{
    font-family: 'rubik', sans-serif;
}