body{
   font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    color:#F26522;
    margin-bottom:1rem;
}
.heading{
    margin-bottom: 3rem;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


/*Topbar Style*/
.topbar_bg ul>li{
    text-decoration: none;
    display: inline;
    color:#fff;
    font-size:16px;
}

/*Top_Section Style Start*/

#top_section{
    background-image: url('img/noxen_bg01.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:2rem 0rem;
}

/*Nav Styles Start*/
.navbar-brand img{
    max-height: 50px;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link{
    font-size: 0.9rem!important;
    font-family: 'PT Sans', sans-serif!important;
    text-transform: uppercase;
    color: #F26522;
    font-weight: 550;
    
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link:hover{
    color:#DC3545;
    border-bottom: 0.1rem solid #DC3545;
}

/*Nav Styles End*/

.top_section .top_content{
    margin-top:50px;
    color:#fff;
    text-align: center;
}
.top_left{
    margin-top:3%;
    color:#fff;
}
.top_left h2{
    text-transform: uppercase;
    font-size:40px;
    font-weight: 600;
}

.top_left .btn-info{
    background-color: #F26522;
    border:none;
    width: 50%;
    color:#fff;
    font-family: 'PT Sans', sans-serif;
}
.top_left .btn-info:hover{
    background-color: #DD5514;
}
.top_right h4{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'pt sans', sans-serif;
}
.top_right img{
    border-radius: 10px;
    opacity: 0.7;
}
/* Top Section Style End*/

/*Features Section Style start*/
#features{
    padding: 3rem 0rem;
    background-color: #EDEDED;
    
}
.features_items{
    background-color: #bea9d2;
    padding:1.5rem;
    margin:10px;
    max-width: 30%!important;
    border-radius: 10px;
}
.features_items i{
    font-size: 5rem;
    color:#DC3545;
}
.features_items h5{
    color:#DC3545;
    text-transform: uppercase;
}

/*Features Section Style End*/

/*Skills Section Style Start*/
#skills{
    padding: 3rem 0rem;
}
.skills h4{
    color:#F26522;
    text-transform: uppercase;
}
.skills_left p{
    margin-top: 3rem;
}
.skills_right level{
    font-size: 1rem;
    text-transform: uppercase;
}
/*Progress bar Design*/
.progress{
    height: 1.5rem!important;
    margin-bottom:1.5rem;
    margin-top:0.3rem;
}

/*Skills Section Style End*/


/*Impressed Section*/
#impressed{
    background-color: #ededed;
    padding:2rem;
    color:#000;
    
}
/*Services Section Start*/
#services{
    padding:2rem 0rem;
    background-image: url(img/noxen_bg02.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color:#fff!important;
}
.services_wrap{
    margin-bottom: 2rem;
}
.services_item i{
    font-size: 3rem;
    color: #F26522;
    border: 0.3rem solid #F26522;
    border-radius: 10%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.services_item h4{
    color:#DD5514;
    text-transform: uppercase;
}
/*Services Section End*/

/*Testimonials Section Style Start*/
#testimonials{
    padding:2rem 0rem;
    background-color: #ededed;
}
#testimonials .heading{
    margin:0rem 6rem;
}
.testimonials_item{
    max-width: 30%!important;
    background-color: #fff;
    margin-right:2rem;
    padding:2rem;
}
.testimonials_item:last-child{
    margin-right:0!important;
}
.testimonials_item img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.testimonials_item h5{
    color:#F26522;
    text-transform: uppercase;
}

/*Testimonials Section Style End*/

/*Our Blog Section Style Start*/
#blog{
    padding: 2rem 0rem;
}
#blog .heading{
    margin:0rem 6rem;
}

.blog_item img{
    max-height: 80%;
    max-width: 80%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.blog_item a{
    text-decoration: none;
    color:#F26522;
}
.blog_item a:hover{
    color:#DD5514;
}
.blog_item .date{
    color:#979797;
}

.blog_item .admin{
    color:#DD5514;
}
/*Our Blog Section Style End*/

/*Contact Section Start*/
#contact {
    padding: 2rem 0rem;
    background-image: url('img/noxen_bg03.jpg');
    color:#fff;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#contact .heading{
    margin:0rem 5rem;
    
}
.contact_wrap{
    margin-top: 2rem;
}
.contact_left .home{
    font-size: 4rem!important;
    color:#F26522;
}
.contact_left h4{
    font-size: 2rem;
    text-transform: uppercase;
    color:#F26522;
    font-weight: 700;
}
.contact_left ul>li{
    list-style: none;
    margin-bottom: 1.5rem;
    text-align: left!important;
}
.contact_left i{
    font-size: 2rem;
    color:#f26522;
}
.contact_left level{
    font-size: 1rem;
    margin-left: 10px;
}
/*Form Style Start*/
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    width: 100%
}

input[type=submit]:hover {
  background-color: #45a049;
} /*Form Style End*/

/*Contact Section End*/


/*Footer Section Start*/
#footer{
    background-color: #000;
    padding:3rem;
    color:#fff;
}
.footer h5{
    text-transform: uppercase;
    color:#F26522;
    margin-bottom:10px;
}
.footer_menu ul{
    list-style: none;
    font-size: 20px!important;
    text-transform: uppercase;
}

.footer_menu ul>li>a{
    text-decoration: none;
    color:#fff;
    font-size:16px!important;
}
.footer_menu a{
    font-size: 20px;
}
.footer_menu a:hover{
    color:#F26522;
}

/*Newsletter*/
.newsletter input[type=email] {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px; 
  resize: vertical;
  position: relative;
}

.newsletter input[type=submit] {
  background-color: #F26522;
  border:1px solid #F26522;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  margin-top: 1.8%;
  margin-left: -30%;
  width:30%;
  border-radius: 0px 4px 4px 0px;
}

.newsletter  input[type=submit]:hover {
  background-color: #F26522;
}

.footer_copyright{
    border:0.1rem solid #979797;
}
.footer_copyright p{
    color:#979797;
}
.copy a{
    text-decoration: none;
    color:#F26522!important;
}
.copy a:hover{
    color:#DD5514!important;
}

/*Footer Section End*/

/*****Start Media Query*****/

@media only screen and (max-width: 767px){
    
    .heading{
        margin-bottom:0.5rem;
    }
    /*Top Section Responsive Start*/
    #top_section{
        padding:1rem 0rem;
    }
    #topbar{
        text-align: center;
    }
    
    .top_section .top_content{
        margin-top:10px;
    }
    
    .top_left {
        margin-top: 1%;
    }

    .top_left h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .top_left .btn-info {
        margin-bottom: 10px;
    }

    .top_right img {
        border-radius: 10px;
        opacity: 0.7;
        max-height: 300px;
        max-width: 400px;
    }/*Top Section Responsive End*/
    
   /* Features Section Responsive Start*/
    #features{
        padding: 1rem 0rem;
    }
    .features_items{
        max-width: 80%!important;
    }
    /* Features Section Responsive End*/ 
    
    
    /* Skills Section Responsive Start*/ 
    #skills{
        padding: 1rem 0rem;
        
    }
    .skills_left p {
        margin-top: 1rem;
    }
    .skills_left img{
        max-height: 200px;
        max-width: 200px;
    }
    .ceo_name{
        text-align: center;
        margin-top:1rem;
    }
    .skills_right level {
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    /*Progress bar Design*/
    .progress {
        margin-bottom: 1rem;
    }
    /* Skills Section Responsive End*/ 
   
    
   /* impressed Section Responsive Start*/
    #impressed{
        padding: 1rem 0rem;
    }
    
   /* impressed Section Responsive End*/ 
    
    /* Services Section Responsive Start*/ 
    #services{
        padding: 1rem 0rem;
    }
    
    .services_wrap {
        margin-bottom:0.8rem;
    }

    .services_item i {
        font-size: 2rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .services_item h4 {
        font-size: 20px;
    }
    /* Services Section Responsive End*/ 
    
    /* Testimonials Section Responsive Start*/ 
    #testimonials{
        padding: 1rem 0rem;
    }
    #testimonials .heading{
    margin:0;
    }
    .testimonials_item {
        max-width: 90% !important;
        margin-bottom: 15px;
        border-radius: 20px;
        text-align: center;
    }
    /* Testimonials Section Responsive End*/
    
    /* Blog Section Responsive Start*/ 
    #blog{
        padding: 1rem 0rem;
    }
    
    #blog .heading {
        margin: 0;
    }
    #blog .heading p{
        font-size: 16px!important;
    }

    .blog_item{
        max-width: 30%!important;
        margin:0;
        text-align: center;
    }

    .blog_item .date {
        color: #979797;
    }

    .blog_item .admin {
        color: #DD5514;
    }
    /* Blog Section Responsive End*/
    
    /* Contact Section Responsive Start*/
    #contact{
        padding: 1rem 0rem;
    }
    #contact .heading {
        margin:0;

    }

    .contact_wrap {
        margin-top:0.3rem;
    }

    .contact_left .home {
        font-size: 2rem !important;
    }

    .contact_left h4 {
        font-size: 1rem;
    }

    .contact_left ul > li {
        margin-bottom:0.5rem;
        text-align: center!important;
    }

    .contact_left i {
        display: block;
    }

    .contact_left level {
        display:block;
        margin:0;
    }

    /*Form Style Start*/
    input[type=text],
    input[type=email],
    select,
    textarea {
        padding: 8px;
        margin-top: 3px;
        margin-bottom: 5px;
    } /*Form Style End*/
    
    /* Contact Section Responsive End*/
    
    /* Footer Section Responsive Start*/
    #footer {
        padding: 1rem 0rem;
    }
    .about{
        max-width: 90%!important;
        margin-bottom: 10px;
    }
    
    .footer_menu, .newsletter{
        max-width: 50%!important;
        text-align: center;
    }

    .newsletter input[type=submit] {
        margin-top: 2%;
        border:1px solid #F26522!important;
    }
    /* Footer Section Responsive End*/
    
    
} /****Media Query End*****/

