*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Varela Round', sans-serif;
}
h1,h2{
    font-family: 'Varela round', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.nav_bg{
    background-color:#007BFF!important;
}
.navbar-brand img{
    height: 80px;
    width:150px;
}
.nav-item a{
    color:#fff!important;
    font-size: 20px;
    text-transform: uppercase;
}
.nav-item a:hover{
    color:#dedede!important;
}
#header_banner{
    background-image: url(img/header%20background.jpg);
    height:100%;
    width:100%;
    background-size: cover;
    padding-top:15%;
    padding-bottom:10%;
}
.header-services .header_title h1{
    font-size: 60px!important;
    color:#fff;
    border-bottom: 10px solid #fff;
    margin-bottom: 20%;
    
}

.service_single h4{
    color:#fff;
    font-size:30px;
    text-transform: uppercase;
}
.service_single i{
    font-size: 100px;
    color:#fff;
    margin-bottom: 10px;
}
.upper_sec_bg{
    background-color: #F2F2F2;
    
}

.upper_section{
    padding:10% 15%;
    background-color: #F2F2F2;
    color:#111111;
}
.middle_section{
    padding:10% 5%;
}
.mid_left img{
    border-radius: 5px;
    margin-bottom: 30%;
}
.mid_right h2{
    margin-top:20%;
}
.mid_right img{
    border-radius: 5px;
    margin-top: 10%;
}
.lower_serction{
    padding-top:2%;
}

.low_right{
    padding-top:25%;
}
.low_right h1{
    font-weight: 700;
    font-size: 80px;
    color:#104E92;
    border-bottom:10px solid #E71A23;
}
.our_serv_second{
    padding:10% 0%;
    text-align: left;
}
.our_serv_second h1{
    text-transform: uppercase;
    font-size: 50px;
    color:#000;
}

.our_serv_second i{
    font-size: 50px;
    color:#fff;
    background-color: #E71A23;
    padding:5%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.about_bg{
    background-color: #104E92;
    padding: 5% 0%;
    color:#fff;
}
.about_title{
    padding-top: 10%;
    
}
.about_title h3{
    text-transform: uppercase;
}

.about_title h1{
    font-size: 70px;
}
.about_img img{
    width: 255px;
    height: 200px;
}
.row_down{
    margin-top: 20px;
}
.todo{
    padding:5% 15%;
}
footer{
    background-color: #333333;
    color:#FFF;
    padding-top:5%;
    padding-bottom: 1%;
}

.navigation li{
    list-style-type: none;
    text-decoration: none;
}
.navigation a{
    color:#fff;
    font-size: 20px;
}
.navigation a:hover{
    color:#dedede;
    text-decoration: none;
}
hr{
    border-top:1px solid #dedede;
}
p{
    text-align: center;
}









